In [7]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
from typing import Tuple
from difflib import ndiff
from matplotlib import pyplot as plt

In [2]:
embedding_path = os.path.join(os.curdir, "embedding-bahdanau.csv")
embedding_raw = pd.read_csv(filepath_or_buffer=embedding_path)

onehot_path = os.path.join(os.curdir, "onehot-bahdanau.csv")
onehot_raw = pd.read_csv(filepath_or_buffer=onehot_path)

In [3]:
embedding = embedding_raw.copy(deep=True).groupby(by=["word_length", "char_length"], as_index=False).mean()
onehot = onehot_raw.copy(deep=True).groupby(by=["word_length", "char_length"], as_index=False).mean()

In [4]:
def get_correct_incorrect_ratios(results: pd.DataFrame) -> Tuple[float, float]:
    total = len(results)
    
    correct = results[results["correct"] == True]
    incorrect = results[results["correct"] == False]
    
    return len(correct) / total, len(incorrect) / total

In [19]:
for d in ndiff(a=embedding_raw.loc[20, "source"], b=embedding_raw.loc[20, "target"]):
    if d[0] == "":
        continue
    if d[0] == "-":
        print("subtract", d)
    if d[0] == "+":
        print("add", d)

subtract - ق
add + ف

In [20]:
embedding_raw.loc[20, "source"], embedding_raw.loc[20, "target"]

('بما قي ذلك واحد على الأقل في لوس انجليس',
 'بما في ذلك واحد على الأقل في لوس انجليس')

In [6]:
embedding_raw.describe()

,matching ratio,precision,recall,f1,char_length,word_length
count,1.076273e+06,1.076273e+06,1.076273e+06,1.076273e+06,1.076273e+06,1.076273e+06
mean,9.749036e-01,9.042038e-01,9.035964e-01,9.038435e-01,3.933122e+01,7.154772e+00
std,4.580857e-02,2.105517e-01,2.113663e-01,2.109375e-01,1.761026e+01,3.032473e+00
min,1.111111e-01,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,2.000000e+00
25%,9.666667e-01,9.400000e-01,9.393939e-01,9.393939e-01,2.400000e+01,4.000000e+00
50%,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+01,7.000000e+00
75%,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.400000e+01,1.000000e+01
max,1.000000e+00,1.200000e+00,1.000000e+00,1.000000e+00,1.130000e+02,1.100000e+01